@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Monigue DEMO';
  src: url('/fonts/Monigue-DEMO.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
